body {
  background: #121212;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.player {
  background: #1db954;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

.controls button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}
